fastapi>=0.139.2,<1
uvicorn[standard]>=0.35,<1
SQLAlchemy>=2.0.51,<3
python-dotenv>=1.1.1,<2
email-validator>=2.3.0,<3
psycopg[binary]>=3.3.4,<4
GeoAlchemy2>=0.18,<1
python-multipart>=0.0.20,<1
rasterio>=1.5.0,<2
rio-cogeo>=7.0.2,<8
shapely>=2.1.1,<3
pyproj>=3.7.2,<4
geopandas>=1.1.4,<2
pyogrio>=0.11,<1
pyarrow>=18,<23
httpx>=0.28.1,<1
alembic>=1.17,<2
titiler.application>=0.23,<1
